.yt-player {
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(190, 190, 190);
  display: flex;
}
.modal{
  width: clamp(50%, 700px, 90%);
  height: (50%, 300px);
  margin-top: 50px;
  margin-left: 50px;
  pad: 0 2rem;
  display: flex;
  flex-direction: column;
}
.h1-title {
  font-size: 1.2rem;
  margin: 0;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-style: dotted;
  font-family: 'Roboto', sans-serif;
}
.h1-title:hover {
  cursor: pointer;
}
.p-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}